@import "tailwindcss";

@theme {
  --color-obsidian: #050505;
  --color-cobalt-electric: #0047AB;
  --color-lime-cyber: #CCFF00;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: var(--color-obsidian);
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
